@if(params['id']) {
    <app-admin>
        <app-header header />

        <app-dish-new left-side (dish)="dishSignal()" />

        @if(dishSignal()) {
            <!-- Image à gauche (prend toute la hauteur) -->
            @if(dishSignal().image) {<img src="{{dishSignal().image}}" alt="Repas"
            class="w-25 h-full object-cover rounded-l-xl">}
        
            <!-- Contenu texte à droite -->
            <div class="flex-1 p-3">
                <h2 class="text-lg font-semibold">{{dishSignal().title}}</h2>
                <p class="text-gray-500 text-xs">
                    <span class="badge badge-outline badge-info badge-xs">{{dishSignal().category}}</span>
                </p>
            </div>
        }

        @if(!dishSignal()) {
            <div>
                <p>Chargement des données...</p>
            </div>
        }        
    </app-admin>
} @else {
    @if(dishSignal()) {
        <!-- Image à gauche (prend toute la hauteur) -->
        @if(dishSignal().image) {<img src="{{dishSignal().image}}" alt="Repas"
        class="w-25 h-full object-cover rounded-l-xl">}
    
        <!-- Contenu texte à droite -->
        <div class="flex-1 p-3">
            <h2 class="text-lg font-semibold">{{dishSignal().title}}</h2>
            <p class="text-gray-500 text-xs">
                <span class="badge badge-outline badge-info badge-xs">{{dishSignal().category}}</span>
            </p>
        </div>
    }    
}
