<form (submit)="submit($event)" [formGroup]="formGroup">
    <fieldset class="fieldset border border-base-300 p-4 rounded-box">
        <legend class="fieldset-legend">Page details</legend>
        
        <label class="fieldset-label" for="name">Name</label>
        <input id="name" name="name" type="text" formControlName="name" class="input" placeholder="My awesome page" />
        @if (isFieldValid('name')) {
            @if (formGroup.get('name')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
        }

        <label class="fieldset-label" for="icon">Icon</label>
        <input id="icon" name="icon" type="text" formControlName="icon" class="input" />
        @if (isFieldValid('icon')) {
            @if (formGroup.get('icon')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
        }

        <label class="fieldset-label" for="category">Category</label>
        <select id="category" name="category" formControlName="category" class="select">
            <option disabled selected>Pick a browser</option>
            @for (cat of ingredientCategory; track cat) {
                <option [value]="cat">{{cat}}</option>
            }
        </select>

        <button class="btn btn-block" type="submit" [disabled]="formGroup.invalid">Save</button>
        <!-- <button (click)="name.setValue('Changed')">Set Name</button> -->
    
    </fieldset>
</form>