<form (submit)="submit($event)" [formGroup]="formGroup">
    <mat-form-field class="form-field">
        <mat-label for="name">Name</mat-label>
        <input matInput  id="name" name="name" type="text" formControlName="name" />
        @if (isFieldValid('name')) {
            @if (formGroup.get('name')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
        }
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label for="icon">Icon</mat-label>
        <input matInput  id="icon" name="icon" type="text" formControlName="icon" />
        @if (isFieldValid('icon')) {
            @if (formGroup.get('icon')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
        }
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label for="category">Category</mat-label>
        <mat-select id="category" name="category" formControlName="category">
            @for (cat of ingredientCategory; track cat) {
                <mat-option [value]="cat">{{cat}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button mat-flat-button type="submit" [disabled]="formGroup.invalid">Save</button>
    <!-- <button (click)="name.setValue('Changed')">Set Name</button> -->
</form>