<header>
    <ng-content select="[header]"/>
</header>

<div div class="grid sm:grid-cols-12 grid-cols-1 gap-3 m-3" cdkDropListGroup>
    <div class="min-h-[100px] sm:col-span-9">
        <div cdkDropList 
            id="dishes-list"
            [cdkDropListData]="dishes()" 
            (cdkDropListDropped)="onDrop($event)"
            class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3" 
            >              
            @for(dish of dishes(); track dish._id) {
                <div cdkDrag class="w-full relative">
                    
                    <app-dish-item [dish]="dish" class="h-25 w-full flex rounded-xl bg-zinc-200 shadow-sm hover:shadow-md transition group overflow-hidden" />
                            
                    <a href="dish/{{dish._id}}" class="text-xs link link-hover text-sm font-small absolute bottom-2 right-2 flex items-center gap-1 hover:gap-2 transition-all">
                    Voir plus ->
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="min-h-[100px] rounded-lg shadow bg-orange-200 sm:col-span-3">
        <div div class="grid grid-cols-1 gap-3 ">
            <div class="min-h-[100px] rounded-lg shadow bg-teal-200">
                <app-weekly-menu />
            </div>
        </div>
    </div>
</div>

<footer>
    <ng-content select="[footer]"/>
</footer>