.cdk-drag-placeholder {
    opacity: 0.5;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.weekly-menu-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}