<div class="grid grid-cols-2 gap-3 p-3">
    <!-- Menu de la semaine -->
    <div class="grid gap-3">
      @for (day of daysOfWeek; track day) {
        <div class="p-3 bg-white rounded-lg shadow-lg">
          <h3 class="text-md font-semibold mb-2">{{ day }}</h3>
          <div cdkDropList 
            [cdkDropListData]="weeklyMenu()[day]" 
            (cdkDropListDropped)="drop($event, day)" 
            [id]="day"
            class="min-h-18 border-dashed border-2 border-gray-300 p-2 rounded-lg"
            >
            @for (dish of weeklyMenu()[day]; track dish) {
              <app-dish-item [dish]="dish" cdkDrag [showTitleOnly]="true"></app-dish-item>
            }
          </div>
        </div>
      }
    </div>
    <!-- Liste de courses -->
    <div class="grid-cols-2 p-3 bg-gray-100 rounded-lg shadow-lg">
      <h2 class="text-lg font-semibold mb-2">Liste de courses</h2>
      <ul>
        @for (item of ingredientsShoppingList.ingredientsShoppingList(); track item) {
          <li class="flex justify-between p-2 bg-white rounded-lg shadow mb-1">
            <span>{{ item.name }}</span>
            <span class="font-bold">{{ item.quantity }}</span>
          </li>
        }
      </ul>
    </div>
  </div>
  
  