<div class="grid grid-cols-2 gap-3 p-3">
    
<!-- Menu de la semaine -->
    <div class="grid gap-3">
      <label for="start-day">Sélectionner le jour de départ :</label>
      <input type="date" class="input" id="start-day" [value]="startDaySignal()" (change)="this.weeklyMenuService.updateStartDay($any($event.target).valueAsDate)" />
    
      @for (entry of weeklyMenuSignal(); track entry.day) {
        <div class="p-3 bg-white rounded-lg shadow-lg">
          <h3 class="text-md font-semibold mb-2">{{ entry.day }}</h3>
          <div cdkDropList 
            [cdkDropListData]="entry.dishes" 
            (cdkDropListDropped)="drop($event, entry.day)" 
            [id]="entry.day"
            class="min-h-18 border-dashed border-2 border-gray-300 p-2 rounded-lg"
            >
            @for (dish of entry.dishes; track dish) {
              <app-dish-item [dish]="dish" cdkDrag [showTitleOnly]="true"></app-dish-item>
            }
          </div>
        </div>
      }
    </div>
    <!-- Liste de courses -->
    <div class="grid-cols-2 p-3 bg-gray-100 rounded-lg shadow-lg">
      <h2 class="text-lg font-semibold mb-2">Liste de courses</h2>
      <ul>
        @for (item of ingredientsShoppingList.ingredientsShoppingList(); track item) {
          <li class="flex justify-between p-2 bg-white rounded-lg shadow mb-1">
            <span>{{ item.name }}</span>
            <span class="font-bold">{{ item.quantity }}</span>
          </li>
        }
      </ul>
    </div>
  </div>
  
  