<form (submit)="onSubmit($event)" [formGroup]="formGroup">
    <fieldset class="fieldset border border-base-300 p-4 rounded-box">
        <legend class="fieldset-legend">Dish form</legend>

        <label class="fieldset-label" for="title">Title</label>
        <input id="title" name="title" type="text" formControlName="title" class="input" placeholder="New dish title" />
        @if (isFieldValid('title')) {
            @if (formGroup.get('title')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
        }

        <label class="fieldset-label" for="description">description</label>
        <textarea id="description" name="description" type="text" formControlName="description" class="textarea textarea-bordered" placeholder="New dish description"></textarea>

        <label class="fieldset-label" for="image">Upload image</label>
        <input type="file" class="file-input" id="image" name="image" (change)="onChange($event)" />
        @if (isFieldValid('image')) {
            @if (formGroup.get('image')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
        }

        <label class="fieldset-label" for="category">Category</label>
        <select id="category" name="category" formControlName="category" class="select">
            @for (cat of dishCategory; track cat) {
                <option [value]="cat">{{cat}}</option>
            }
        </select>

        <label class="fieldset-label" for="difficulty">Difficulty</label>
        <select id="difficulty" name="difficulty" formControlName="difficulty" class="select">
            @for (cat of dishDifficulty; track cat) {
                <option [value]="cat">{{cat}}</option>
            }
        </select>

        <label class="fieldset-label" for="budget">Budget</label>
        <select id="budget" name="budget" formControlName="budget" class="select">
            @for (cat of dishBudget; track cat) {
                <option [value]="cat">{{cat}}</option>
            }
        </select>

        <!-- <label class="fieldset-label">Add Ingredient</label>
        <select class="select" (change)="onIngredientChange($event)">
            @for (ingredient of availableIngredients(); track ingredient) {
                <option [value]="ingredient._id">
                    {{ ingredient.name }}
                </option>
            }
        </select> -->

        <!-- Liste des ingrédients sélectionnés -->
        <div class="pt-4">
            <h3 class="text-lg font-semibold">Ajouter des Ingrédients</h3>
        
            <!-- Champ de recherche -->
        
              <input
                type="text"
                [value]="searchQuery()"
                (input)="searchIngredient($any($event.target).value)"
                placeholder="Rechercher un ingrédient..."
                class="input input-bordered w-full mt-2"
                />
            <!-- Liste des ingrédients disponibles -->
            <div class="mt-2 flex flex-wrap gap-1 pt-4">
                @for (ingredient of ingredientsList().slice(0,10); track ingredient) {
                    <app-badge customClass="badge-white pointer" (click)="addIngredient(ingredient)" content="{{ ingredient.name }}" iconClass="fa-regular fa-circle-xmark"></app-badge>
                }
            </div>
            <h4 class="text-md font-semibold mt-4">Ingrédients sélectionnés</h4>
            
            <ul class="mt-2">
                @for (item of selectedIngredients(); track item; let i = $index) {
                  <li class="flex items-center justify-between p-2 bg-gray-100 rounded-lg" >
                    <span>{{ item.ingredient.name }}</span>
                    
                    <!-- Ajout de l'attribut formControlName pour chaque champ -->
                    <input type="number" 
                    [value]="item.quantity"
                    (change)="updateIngredientQuantity(i, $any($event.target).value)"
                    min="1" 
                    class="input input-sm w-16" />
                    
                    <button type="button" class="btn btn-sm btn-error" (click)="removeIngredient(i)">❌</button>
                  </li>
                }
              </ul>

        </div>        
            
        <button class="btn btn-block" type="submit" [disabled]="formGroup.invalid">Save</button>
        <!-- <button (click)="name.setValue('Changed')">Set Name</button> -->
    </fieldset>
</form>